
@{
    ViewData["Title"] = "Details";
}

<h1>Survey Details</h1>
<p>Your Name:@ViewBag.Name

</p>
<p>
    Your Gender:@ViewBag.Gender
</p>
<p>
    hobbies:
   <ul>
        @foreach (var item in ViewBag.Hobbies)
        {
            <li>
                @item
            </li>
        }
   </ul>
</p>
<p>
    Add in Survey:@ViewBag.Option
</p>
