
@{
    ViewData["Title"] = "codetails";
}

<h1>Thanks For Contact Us </h1>
<p>
    Your Name:@ViewBag.name
</p>
<p>
    Your Mail Id:@ViewBag.Email
</p>
<p>
    Contact No:@ViewBag.Contact
</p>
<p>
    Your Message:@ViewBag.Message
</p>


